<% layout('layouts/boilerplate') %>

<div class="row">
    <h1 class="text-center">New Campground</h1>
    <div class="col-md-6 offset-md-3">
        <form action="/campgrounds" method="POST" class="needs-validation" novalidate enctype="multipart/form-data">
            <div class="mb-3">
                <label for="title" class="form-label">Title</label>
                <input class="form-control" type="text" id="title" name="campground[title]" required>
                <div class="valid-feedback">Looks good!</div>
            </div>
            <div class="mb-3">
                <label for="location" class="form-label">Location</label>
                <input class="form-control" type="text" id="Location" name="campground[location]" required>
                <div class="valid-feedback">Looks good!</div>
            </div>

            <!-- <div class="mb-3">
                <label for="image" class="form-label">Image URL</label>
                <input class="form-control" type="text" id="image" name="campground[image]" required>
                <div class="valid-feedback">Looks good!</div>
            </div> -->
            <div class="mb-3">
                <label for="price" class="form-label">Campground Price</label>
                <div class="input-group mb-3">
                    <span class="input-group-text" id="price-label">$</span>
                    <input id="price" type="text" class="form-control" placeholder="0.00" aria-label="Price"
                        aria-describedby="price-label" name="campground[price]" required>

                    <div class="valid-feedback">Looks good!</div>
                </div>

            </div>

            <div class="mb-3">
                <label for="description" class="form-label">Description</label>
                <textarea class="form-control" type="text" id="description" name="campground[description]"
                    required></textarea>

                <div class="valid-feedback">Looks good!</div>
            </div>
            <div class="mb-3">
                <label for="image" class="form-label">Add Images</label>
                <input class="form-control" type="file" name="image" id="image" multiple>
            </div>
            <div class="col-auto">
                <button type="submit" class="btn btn-success mb-3">Add Campground</button>
            </div>
        </form>
    </div>
</div>